@model TreeStruct.ViewModels.TreeViewModel

@{
    ViewData["Title"] = "TreeView";
}

<div style='font-size: 25px; font-weight:700;'>Tree:</div>
<ul class="list-group">
    <li>
        <span>@Model.Name</span>
        @if (Model.Childs.Count > 0)
        {
            @*@await Component.InvokeAsync("AppendTree", new { id = Model.Id })*@
            <div id="collapse-btn" class="expander-closed" onclick="GetChilds(@Model.Id)"></div>
            <div id="expandbranch" class="collapse ml-2" expanded="false"></div>
        }
    </li>
</ul>

@section Scripts {
    <script>
        function GetChilds(childId) {
            $.get('/tree/expandbranch', { id: childId }, function (content) {
                if (document.getElementById("expandbranch").getAttribute("expanded") == "false") {
                    $("#expandbranch").load("/tree/expandbranch", { id: childId });
                    $("#expandbranch").attr("expanded", "true");
                    $("#expandbranch").collapse("show");
                    document.getElementById("collapse-btn").classList.toggle('expander-open');
                }
                else {
                    document.getElementById("collapse-btn").classList.toggle('expander-open');
                    $("#expandbranch").collapse("toggle");
                }
            });
        }

        function GetChildsComponent(childId) {
            $.get('/tree/expandbranch', { id: childId }, function (content) {
                if (document.getElementById("expandbranch" + childId).getAttribute('expanded') == "false") {
                    $("#expandbranch" + childId).load('/tree/expandbranch', { id: childId });
                    $("#expandbranch" + childId).attr("expanded", "true");
                    $("#expandbranch" + childId).collapse("show");
                    document.getElementById("collapse-btn" + childId).classList.toggle('expander-open');
                }
                else {
                    document.getElementById("collapse-btn" + childId).classList.toggle('expander-open');
                    $("#expandbranch" + childId).collapse("toggle");
                }
            });
        }
    </script>
}
